/* GENERAL */
html {
	font-family: Arial, sans-serif;
}
button {
	background-color: white;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 24px;
	border-radius: 8px;
	border: 1px solid #5f27cd;
}

/* GLOW ANIMATION */
.glow {
	outline: none;
	position: relative;
	z-index: 0;
}

.glow, .glow:before, .glow:after {
	border-radius: 8px;
}

.glow:before, .glow:after {
	content: '';
	z-index: -1;
	position: absolute;
}

.glow:before {
	background: conic-gradient(#5f27cd, #00c2cb, #273dcd);
	top: -2px;
	left: -2px;
	background-size: 400%;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 22s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.glow:hover:before {
	opacity: 1;
}

.glow:after {
	width: 100%;
	height: 100%;
	background: #fff;
	left: 0;
	top: 0;
}

@keyframes glowing {
	0% { background-position: 0 0; }
	50% { background-position: 400% 0; }
	100% { background-position: 0 0; }
}
